/* .header-txt { */
* {
  font-family: "Coda";
/* background-color: #F9F6EE */
;
}

.nav-title {
  text-align: center;
  margin: auto;
  
}
.navbar{
  width: 90%;
  margin: auto;
}

.container{
  max-width: 95%;
}


/* 1280px */

@media screen and (max-width: 1280px) {
  #name {
    font-size:xx-large;
  }
  #position  {
    font-size: x-large;
  }
  .navbar{
    margin: auto;
  }
  .section-title{
    font-size: xx-large;
  }

}

/* 1024px */

@media screen and (max-width: 1024px) {

  #name {
    font-size:xx-large;
  }
  #position  {
    font-size: x-large;
  }
  .navbar{
    margin: auto;
  }
  .section-title{
    font-size: x-large;
  }

}



/* Large smartphones */

@media screen and (max-width: 768px) {
  #name {
    font-size:xx-large;
  }
  #position  {
    font-size: x-large;
  }
  .navbar{
    margin: auto;
  }
  .section-title{
    font-size: x-large;
  }

  #content-div{
    margin-top: 100px;
  }
}

/* Small smartphones */

@media screen and (max-width: 480px) {
  #name {
    font-size:x-large;
  }
  #position  {
    font-size: larger;
  }
  .navbar{
    margin: auto;
  }
  .section-title{
    font-size: larger;
  }

  #content-div{
    margin-top: 100px;
  }
}

@media screen and (max-width: 360px) {

  #name {
    font-size:large;
  }
  #position  {
    font-size: medium;
  }
  .navbar{
    margin: auto;
  }
  .section-title{
    font-size: medium;
  }

  #content-div{
    margin-top: 100px;
  }

}
